<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EROR 500</title>
</head>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="/static/js/bs/jquery-3.4.1.js"></script>
<script src="/static/js/bs/bootstrap.bundle.min.js"></script>
<script src="/static/js/login/login.js"></script>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">BANK-APP</a>
    </nav>


    <div class="jumbotron" align="center">
        <h1 class="display-4">ERROR 500</h1>
        <p class="lead">No se ha encontrado lo que estabas buscando.</p>
        <hr class="my-4">
        <p>Clic en el boton para ir a la pagina de inicio.</p>
        <a class="btn btn-dark btn-lg" href="/" role="button">Inicio</a>
      </div>