<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankApp - Sesion</title>
</head>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
 <script src="/static/js/bs/jquery-3.4.1.js"></script>
 <script src="/static/js/bs/bootstrap.bundle.min.js"></script>
 <script src="/static/js/login.js"></script>

<body>
    <h1>INICIAR SESION</h1>
    <form id='idLoginForm' action="/login/signIn/" method="POST">{% csrf_token %}
        <div id='idLogFormErrors'></div>
        {{ logForm }}
        <button type="submit" name="submit">Submit</button>
    </form>

    <h1>REGISTRARSE</h1>
    <form id='idRegForm' action="/login/signUp/" method="POST">{% csrf_token %}
        <div id='idRegFormErrors'></div>
        {{ regForm }}
        <button type="submit" name="submit">Submit</button>
    </form>

</body>

</html>